

/* #img1{
    position: relative ;
    top: 300px;
    left: 1000px;
    right: 200px;
    bottom: 60px;
} */
/* #img1{
   position: fixed; 
} */

/* #img2{
    position: absolute ;
    top: 0px;
    left: 0px;s
    right: 0px;
    bottom: 0px;
} */
/* #img2{
    position: sticky;
} */

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right bottom, red, green);
    height: 100vh;
}
nav{
background-color: bisque;
}
#cont{
    display:flex ;
    list-style-type: none;
    justify-content: space-around;
    gap: 20px;
    margin: 0;
    padding: 0;
}
a{
    text-align: center;
    font-size: large;
    text-decoration: none;
    color: rgb(5, 15, 24);
    padding: 20px;
    display: block;

    
}
a:hover{
    background-color: blue;
}
#menu{
   list-style-type: none;
   padding: 0;
   margin: 0;
   background-color: blueviolet;
position: absolute;
display: none;

}
#drop:hover #menu{

display: block;
}